// VARIABLES
$font-stack: "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// COLOURS
$mona-lisa: #FE938C;
$wax-flower: #E6B89C;
$givry: #EAD2AC;
$gull-gray: #9CAFB7;
$wedgewood: #4281A4;
$white-smoke: #F0F0F0;
$dark-smoke: #F0F0F0;

body {
  font: 100% $font-stack;
  font-weight: 300;
  h1,h2 {
    font-weight: 300;
  }
}

.app {
  margin: 0 auto;
  h1 {
    text-align: center;
  }
}

.play-area {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.menu {
  flex: 1;
  min-width: 10em;
  input {
    width: 50%;
    height: 2em;
    font-size: 0.9em;
  }
  button {
    height: 2em;
    display: inline-block;
    margin: 5px;
    border: 0;
    font-family: $font-stack;
    color: white;
    font-size: 1em;
    background: $wedgewood;
    padding: 5px 10px;
    text-decoration: none;

    &:hover {
      background: $gull-gray;
      text-decoration: none;
    }
  }

  .my-turn {
    background-color: lightblue;
  }
  .other-turn {
    background-color: lightblue;
  }
  .player-card {
    line-height: 3em;
    padding: 0 1em;
    .symbol {
      display: inline-block;
      float: right;
    }
  }
}

.board {
  margin-left: 2em;
  flex: 3;

  .board-row {
    display: flex;
    .tile {
      background-color: $white-smoke;
      width: 100px;
      height: 100px;
      border: 1px solid $dark-smoke;
      padding: 10px;
      margin: 10px;

      p {
        font-size: 75px;
        font-weight: 100;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        margin: 0;
      }

      &:hover {
        box-shadow: 0px 5px 22px -4px rgba(71,71,71,1);
      }
    }
  } // board-row
} // board

.game-disabled {
  pointer-events: none;
}

.status {
  text-align: center;
  font-size: 1.2em;
  color: $mona-lisa;
}
