body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  h1,h2 {
    font-weight: 300;
  }
}

.app {
  margin: 0 auto;
  h1 {
    text-align: center;
  }
}

.play-area {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.board {
  display: flex;
  background-color: lightgray;
  margin-left: 2em;
  .board-row {
    .tile {
      flex: 1;
      padding: 5em;
    }
  }

}
